.boja{
     background-color:pink;
}

     .TABLICA {
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 1px solid rgb(8, 7, 7);
        border-collapse: collapse;
    }
    td{
        padding: 10px;
        border: 2px solid rgb(8, 6, 6);
        border-collapse: collapse;
    }
    
    .height{
        height: 50px;
    }
    
    .container {text-align: center;}
